* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
}

header {
    padding: 15px;
    color:darkgreen;
    background-color: lightgreen;
}

nav {
    float: right;
    padding-top: 10px;
    margin-right: 20px;
}

h1 {
    display: inline-block;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    color:darkgreen;
    text-decoration: none;
}

.graphic {
    height: 300px;
    width: 100%;
    background-image: url("./images/geometry3.png");
    background-size: cover;
    background-position: center;
}

main {
    padding: 20px;
    background-color: lightgreen;
}

h2 {
    display: inline-block;
}

.aboutme {
    display: inline-block;
    position: absolute;
    margin-left: 50px;
}

h3 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 40px;
    border-color: black;
    justify-items: center;
    justify-content: space-evenly;
}

#grid1 {
    background-image: url("images/hori.png");
    padding: 50px 100px;
    border: solid 3px darkgreen;
}

#grid2 {
    background-image: url("images/beachshot.png");
    padding: 50px 100px;
    border: solid 3px darkgreen;
}

#grid3 {
    background-image: url("images/natureshot.png");
    padding: 50px 100px;
    border: solid 3px darkgreen;
}

#grid4 {
    background-image: url("images/rainshot.png");
    padding: 50px 100px;
    border: solid 3px darkgreen;
}
