* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:"Verdana", "Geneva", "Tahoma", sans-serif;
    background-color:blanchedalmond;
}

header {
    padding: 15px;
    color:darkgreen;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    text-decoration: underline;
}

nav ul li a {
    color:darkgreen;
    text-decoration: none;
    padding: 15px;
}

.graphic {
    height: 300px;
    width: 100%;
    background-image: url("./images/geometry3.png");
    background-size: cover;
    background-position: center;
}

.mainSection {
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.mainSection h2 {
    text-align: right;
    flex: 0 0 20%;
    padding-right: 15px;
    border-right: 4px solid black;
    line-height: 1.1;
}

.mainSection div {
    flex: 0 0 80%;
}

.mainSection p {
    padding-bottom: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    color: darkgreen;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.samples {
    min-height: 200px;
    flex-basis: 48%;
    border: 2px solid black;
    background-color: aquamarine;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    padding: 0 0 25px 0;
}

.samples div {
    background-color: blanchedalmond;
    padding: 10px 12px;
    color:darkgreen;
}

.samples:first-child {
    flex-basis: 100%;
    min-height: 400px;
}

#horiseon {
    background-image: url("./images/hori.png");
}

#ex2 {
    background-image: url("./images/filmbuzz3.png");
}

#ex3 {
    background-image: url("./images/courierLogo.png");
}

#ex4 {
    background-image: url("./images/rainshot.png");
}

#ex5 {
    background-image: url("./images/beachshot.png");
}

.samples:hover {
    opacity: .5;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer a {
    color:darkgreen;
}

@media screen and (max-width: 768px) { 
    .samples div {
        flex-direction: column;
    }
}